.header {
    position: fixed;
    background-color: white;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar_logo {
    width: 35%;
    padding : 2%;
}

.classname {
    width : 7%;
    float: right;
    padding: 1.5%;
}

.nameinphoto {
    position : absolute;
    top : 30%;
    width : 35%;
    padding-left: 10%;
    opacity: 0.5;
}

.textinphoto {
    position : absolute;
    top : 30%;
    width : 50%;
    left : 40%;
}

.mainClassPhoto {
    padding: 3%;
    padding-top: 10%;
    width : 100%;
}

.classPhoto {
    width : 45%;
    padding: 7px;
}

.theme1photo {
    padding-top: 15%;
}

.theme2photo {
    clear: both; 
}