.header {
    position: fixed;
    background-color: white;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar_logo {
    width: 35%;
    padding : 15px;
    margin-top: 15px;
    padding-top: 2px;
}

.classname {
    width : 5%;
    float: right;
    margin-top: 15px;
    padding-top: 7px;
    padding-right: 7px;
}

.nameinphoto {
    position : absolute;
    padding-top: 250px;
    width : 30%;
    padding-left: 70px;
    opacity: 0.5;
}

.textinphoto {
    position : absolute;
    width : 50%;
    top : 300px;
    left : 700px;
}

.mainClassPhoto {
    position :static;
    padding-top: 10%;
    width : 95%;
}

.classPhoto {
    width : 45%;
    padding: 7px;
}

.theme1photo {
    padding-top: 15%;
}